body {
  background-color: #ffcc66;
}

.app {
  background-color: #fff;
  width: 90%;
  margin: 3rem auto;
  border-radius: 10px;
  max-width: 1024px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
}

.app__border-radius {
  border-radius: 10px;
}

.app__card {
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.app__card:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.1);
}

.app__card--active {
  border: 5px solid #8393ca;
}

.app__inner-padding {
  padding: 3rem;
}

.app__left-col {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.app__right-col {
  flex: 2;
}

.app__transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(200%);
  -webkit-animation: slidein 0.3s forwards;
  animation: slidein 0.5s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  min-height: 75px;
  margin-bottom: 1rem;
}

.app__transactions-list {
  margin-top: 2rem;
}

.app__wallet {
  display: flex;
}

.card__number {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: #666666;
  margin: 1rem 0;
}

.card__valid {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #b2b2b2;
}

.col__header {
  display: flex;
  justify-content: space-between;
}

.col__rule {
  border: 0;
  height: 1px;
  background: #e5e5e5;
}

.header__balance {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #444750;
  font-size: 2.25rem;
}

.header__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #858995;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.transaction__amount {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 600;
  font-size: 1.125rem;
}

.transaction__credit {
  color: #66cc33;
}

.transaction__debit {
  color: #8393ca;
}

.transaction__description {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 600;
  color: 333;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.transaction__info-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #999;
}

.transaction__symbol {
  font-family: 'Open-sans', sans-serif;
  color: #666;
  border: 3px solid #ebebeb;
  width: 20px;
  height: 20px;
  padding: .1rem;
  border-radius: 50%;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}


/* Animations */

@keyframes slidein {
  100% {
    transform: translateX(0%);
  }
}


/* Media Queries */

@media (max-width: 900px) {
  .app__left-col {
    flex: 3;
    padding: 1rem;
  }
  .app__right-col {
    flex: 5;
    padding: 1rem;
  }
  .card__valid {
    font-size: calc(1rem * .75);
  }
  .header__title {
    font-size: calc(1.5rem * .75);
  }
  .header__balance {
    font-size: calc(2.25rem * .75);
  }
  .header__button img {
    height: calc(24px * .75);
    width: calc(24px * .75);
  }
  .transaction__description {
    font-size: calc(1.125rem * .75);
  }
  .transaction__info-text {
    font-size: calc(.875rem * .75);
  }
  .transaction__amount {
    font-size: calc(1.125rem * .75);
  }
}

@media (max-width: 700px) {
  .app__left-col {
    flex: 1;
  }
  .app__right-col {
    flex: 1;
  }
}

@media (max-width: 575px) {
  .app__wallet {
    flex-direction: column;
  }
  .app__left-col {
    border-radius: 10px 10px 0 0;
  }
  .app__card {
    height: 110px;
    padding: 10px;
    width: 80%;
    margin: 0 auto 1rem auto;
  }
  .header__balance {
    font-size: calc(2.25rem * .6)
  }
}